.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}
